//The commad: pip freeze > requirements.txt is used to create the file
//requirements.txt which contains all our dependencies that we installed in this project
asgiref==3.3.1
Django==3.1.3
pytz==2020.4
sqlparse==0.4.1

requests~=2.25.1